<h1 class="textfont">Showing Article Details</h1>
<br><br>
<body class="bgcolour">
<h1 class="title1"><d style="color:black">Title:</d><c class="textcolor"><%= @article.title %></c></h1>
<br>
<h1 class="title1"><d style="color:black">Description:</d><c class="textcolor1"><%= @article.description %></c></h1>
</body>

